.app-wrapper {
  width: 90%;
  margin-left: 5%;
}

.app-tab-wrapper {
  border: 1px solid grey;
  border-radius: 0.25rem;
  margin-left: 2.7rem;
  min-height: 24rem;
  justify-content: center;
}

.app-button-wrapper .active {
  color: white;
  font-weight: bold;
  background: rgb(180, 180, 180);
  /* box-shadow: inset 0px 0px 5px #c1c1c1; */
}

.app-button-wrapper {
  width: auto;
  max-width: 80%;
  margin: auto;
  height: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 0.19fr));
  grid-template-rows: 100%;
}

.graph-container {
  height: 300px;
  width: 600px;
}

.map-container {
  height: 600px;
  width: 600px;
}
